<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="my-5">Media Capture Project works!</h1>
    </div>
    <div class="col-12">
      <section id="video" autoplay></section>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-4">
      <h2>Snapshot</h2>
      <button class="btn btn-outline-primary btn-sm" id="takeSnapshot">
        Take a snapshot
      </button>
      <canvas class="mt-5 d-block" id=""></canvas>
    </div>
    <div class="col-4">
      <h2>Video</h2>
      <button
        (click)="recordingVideo()"
        class="btn btn-outline-success btn-sm"
        id="startRecordVideo"
      >
        <span *ngIf="!startRecording">Start</span>
        <span *ngIf="startRecording">Stop</span>
        Recording Video
      </button>
      <canvas class="mt-5 d-block" id=""></canvas>
      <a class="btn btn-primary" type="button" id="downloadLink" *ngIf="isRecorded">Download video</a>
    </div>
    <div class="col-4">
      <h2>Audio</h2>
      <button class="btn btn-outline-secondary btn-sm" id="startRecordAudio">
        Start Recording Audio
      </button>
      <canvas class="mt-5 d-block" id=""></canvas>
    </div>
  </div>
</div>
