<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="my-5">Media Capture Project works!</h1>
    </div>
    <div class="col-12">
      <video id="video" height="240" autoplay></video>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-4">
      <h2>Snapshot</h2>
      <button
        (click)="takeSnapshot()"
        class="btn btn-outline-primary btn-sm"
        id="takeSnapshot"
      >
        Take a snapshot
      </button>
      <canvas
        width="320"
        height="240"
        class="mt-5 d-block"
        id="snapshot"
      ></canvas>
    </div>

    <div class="col-4">
      <h2>Video</h2>
      <button
        (click)="recordingVideo()"
        class="btn btn-outline-success btn-sm btn-recording"
        id="startRecordVideo"
      >
        <span *ngIf="!startRecording">Start</span>
        <span *ngIf="startRecording">Stop</span>
        Recording Video
      </button>
      <video
        autoplay
        loop
        width="320"
        height="240"
        class="mt-5 d-block"
        id="videoRecordingNode"
      >
      <source [src]="videoRecording" type="video/webm">
    </video>
      <a
        class="btn btn-primary"
        type="button"
        id="downloadLink"
        *ngIf="isRecorded"
        >Download video</a
      >
    </div>

    <div class="col-4">
      <h2>Audio</h2>
      <button
        (click)="recordingAudio()"
        class="btn btn-outline-secondary btn-sm"
        id="startRecordAudio"
      >
        <span *ngIf="!startRecordingAudio">Start</span>
        <span *ngIf="startRecordingAudio">Stop</span>
        Recording Audio
      </button>
      <canvas width="320" height="240" class="mt-5 d-block" id=""></canvas>
      <a
        class="btn btn-primary"
        type="button"
        id="downloadLinkAudio"
        *ngIf="isRecordedAudio"
        >Download audio</a
      >
    </div>
  </div>
</div>
